ClientApp/Connected Services/NumberSvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerSvc" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q1:Complex" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="y" nillable="true" type="q2:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="AddResult" nillable="true" type="q3:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q4:Complex" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="y" nillable="true" type="q5:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="SubtractResult" nillable="true" type="q6:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q7:Complex" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="y" nillable="true" type="q8:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="MultiplyResult" nillable="true" type="q9:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q10:Complex" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="y" nillable="true" type="q11:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="DivideResult" nillable="true" type="q12:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q13:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModulusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModulusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Argument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q14:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArgumentResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conjugate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q15:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConjugateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="ConjugateResult" nillable="true" type="q16:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recipocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="x" nillable="true" type="q17:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServerSvc" minOccurs="0" name="RecipocalResult" nillable="true" type="q18:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>